<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.bit.pro.mappers.joinMapper">
 <insert id="insertUser" >
 	INSERT INTO userinfo (USERID, USERPW, USERNAME, USERBIRTH, USERADDR1, USERADDR2, USERPOSTNUM, USERPHONE, USEREMAIL) VALUES (#{userid}, #{userpw}, #{username}, #{userbirth} , #{useraddr1}, #{useraddr2}, #{userpostnum}, #{userphone}, #{useremail});
 </insert>
 
 <select id="selectUser" resultType="JoinVo">
 	SELECT * FROM USERINFO WHERE USERID = #{userid}
 </select>
 
 <select id="checkId" resultType="int">
 	SELECT COUNT(USERID) FROM USERINFO WHERE USERID = #{userid};
 </select>
 
 <update id="updateUser">
 	update userinfo set username=#{username}, userphone=#{userphone}, userpostnum=#{userpostnum}, useraddr1=#{useraddr1}, useraddr2=#{useraddr2}, useremail=#{useremail}, userbank=#{userbank}, useracc=#{useracc}, useraccowner=#{useraccowner} where userid=#{userid};
 </update>
 
 <select id="checkPw" resultType="Integer">
 	SELECT COUNT(USERID) FROM USERINFO WHERE USERID=#{userid} AND USERPW = #{userpw};
 </select>
 
  <select id="checkPwEdit" resultType="int">
 	SELECT COUNT(USERID) FROM USERINFO WHERE USERID=#{userid} AND USERPW = #{userpw};
 </select>
 
 <update id="updatePw">
 	UPDATE USERINFO SET USERPW=#{userpw} WHERE USERID=#{userid}
 </update>
 
 
 
</mapper>